<h1>CRYPTO BEST</h1>

<p>Status : {{state}}</p>
<h2>BTC {{game.initialValue}}</h2>


<h3>Players</h3>
<ul>
  <li *ngFor="let player of players">{{player}}</li>
</ul>

<form [formGroup]="form" (submit)="sendBet()">
    <div>
        <label for="email">Email:</label>
        <input id="email" type="input" formControlName='email' name="email" />
    </div>
    <div>
        <label for="betValue">Bet:</label>
        <input id="betValue" type="input"  formControlName='betValue' name="betValue"/>
    </div>
    <button type="submit" [disabled]="disabledButton()" >Send bet</button>
</form>

<app-timer [time]="time"></app-timer>
